body {
    background-color: #00ff00;
    color: #ff0000;
    font-family: 'Courier New', monospace;
}

.container {
    margin-top: 50px;
}

#search-container {
    margin-bottom: 20px;
}
